
* {
  box-sizing: border-box;
}
        body {
          padding: 70px 20px 20px;
          margin: 0;
          overflow: overlay;
        }

        #canvas {
          position: fixed;
          left: 100%;
        }

        .img-wrap {
          width: 200px;
          will-change: auto;
          margin: 0 auto;
          position: relative;
        }
        .img-wrap > img {
          width: 100%;
          height: auto;
          cursor: grab;
          -webkit-user-drag: none;
          position: absolute;
          transition: .2s all;
        }

        .img-wrap>img.moving {
          transition: none;
          z-index: 1; 
        }

        .img-wrap > img:hover {
        }
        .btn-wrap {
          display: flex;
          position: fixed;
          width: 100%;
          top: 0;
          left: 0;
          padding: 20px;
          background-color: rgba(255, 255, 255, .8);
          z-index: 2;
        }
        #input {
          display: none;
        }
        #range {
          outline: none;
        }
        .input-btn, .save-btn {
          color: #fff;
          padding: 4px 6px 5px;
          border-radius: 4px;
          font-size: 16px;
          cursor: pointer;
          min-width: 100px;
          outline: none;
        }
        .input-btn:hover, .save-btn:hover {
          opacity: .8;
          transition: opacity .5s;
        }
        .input-btn {
          background-color: #2ea44f;
        }
        .save-btn {
          background-color: #cb2431;
          border: none;
          justify-self: self-end;
        }
